body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container-hero {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0),
      rgba(0, 0, 0, 0.842)
    ),
    url("images/hero-section-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 140px;
  padding-bottom: 135px;
  text-align: center;
}
.hero-text h1 {
  color: #ffffff;
  font-size: 58px;
  text-align: center;
  font-weight: 700;
}
.hero-text p {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 65px;
}
.container-hero a {
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  background-color: #ff5959;
  padding: 15px 30px 15px 30px;
  border-radius: 5px;
}
.donate-box {
  margin-left: 364px;
}
.donate-today h2 {
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
}
.donate-today p {
  color: #707070;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: -5px;
}
.donate-box {
  display: flex;
}
.donate-option {
  color: #707070;
  margin-top: 25px;
  margin-left: 10px;
  margin-bottom: 50px;
  padding: 20px 28px 20px 28px;
  box-shadow: 5px 5px 10px #0000000c;
  border-radius: 5px;
}
.border-option {
  color: #ff5959;
  background-color: #ffeeee;
  margin-top: 25px;
  margin-left: 10px;
  margin-bottom: 50px;
  padding: 20px 28px 20px 28px;
  border: 3px solid #ff5959;
  border-radius: 5px;
}
.donate-input {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.donate-input input {
  text-align: center;
  width: 645px;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #dadada;
  border-right: none;
  outline: none;
  margin-bottom: 50px;
  padding-bottom: 10px;
}
.donate-input input::placeholder {
  color: #b3b3b3;
}
.donate-now {
  text-align: center;
  margin-top: -80px;
}
.donate-now a {
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  background-color: #ff5959;
  padding: 15px 30px 15px 30px;
  border-radius: 5px;
}
.our-donate-plan h2 {
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
}
.our-donate-plan p {
  color: #707070;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: -5px;
}

.donation-box-1 main-box {
  background-color: #4f9da6;
  padding: 20px 40px 20px 40px;
}
.donate-plan h2 {
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
}
.donate-plan p {
  color: #707070;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: -5px;
}
.donate-container h2 {
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
}
.donate-container p {
  color: #707070;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: -15px;
}
.donation-container {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}
.donation-container p {
  color: #707070;
}
.donaton-plan {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  padding: 40px 40px 40px 40px;
}
.donation-plan-1 {
  background-color: #4f9da621;
  border-radius: 5px;
}
.donation-plan-2 {
  background-color: #ff595921;
  border-radius: 5px;
}
.donation-plan-3 {
  background-color: #fff4d6;
  border-radius: 5px;
}
.about-us {
  display: flex;
  margin-top: 70px;
  margin-bottom: 150px;
}
.about-img {
  width: 50%;
  padding: 25px;
  padding-left: 2%;
}
.about-img img {
  width: 100%;
  border-left: 10px solid #ff5959;
  border-bottom: 10px solid #ff5959;
  border-radius: 5px;
}
.about-text {
  width: 50%;
  padding: 25px;
  padding-left: 2%;
}
.about-text h3 {
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  width: 120px;
  padding-bottom: 5px;
  border-bottom: 3px solid #ff5959;
}
.about-text h2 {
  font-size: 40px;
}
.about-text p {
  line-height: 30px;
}
.about-button {
  margin-top: 40px;
}
.about-anchor {
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  background-color: #ff5959;
  padding: 15px 30px 15px 30px;
  border-radius: 5px;
}
.partner {
  text-align: center;
  margin-top: -80px;
  margin-bottom: 100px;
}
.partner h2 {
  font-size: 40px;
  display: inline;
  margin-top: 2px;
}
.partner p {
  color: #707070;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.partner-container {
  display: flex;
  margin-top: -150px;
  margin-right: -50px;
  margin-left: 50px;
  margin-bottom: 150px;
}
.partner-image {
  width: 50%;
  padding: 25px;
  padding-left: 2%;
}
.newslatter {
  text-align: center;
}
.newslatter h2 {
  font-size: 40px;
  margin-top: -201px;
}
.newslatter p {
  color: #707070;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: -9px;
}
.input-box {
  background-color: #d9d9d9;
  padding: 15px 50px 15px 40px;
  border: none;
  outline: none;
}
.input-div {
  background-color: #ff595921;
  padding: 50px 50px 50px 50px;
  margin-top: 40px;
  margin-left: 300px;
  margin-bottom: 100px;
  margin-right: 300px;
}
.input-div a {
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  background-color: #ff5959;
  padding: 12px 30px 14px 30px;
}
.footer-text {
  color: #ff5959;
  font-size: 18px;
  font-family: "Lobster", cursive;
  text-align: center;
}
.footer {
  color: #d9dbe1;
  text-align: center;
  font-weight: 200;
  background-color: #0b0d17;
  padding: 20px 40px 20px 40px;
}
